'.source.js':
     'schema.addWorkflow()':
        'prefix': 'addWorkflow'
        'body': 'schema.addWorkflow(\'${1:name}\', function($) {\n\t$2\n\t$.success(true);\n});'
     'schema.addTransform()':
        'prefix': 'addTransform'
        'body': 'schema.addTransform(\'${1:name}\', function($) {\n\t$2\n\t$.success(true);\n});'
     'schema.addOperation()':
        'prefix': 'addOperation'
        'body': 'schema.addOperation(\'${1:name}\', function($) {\n\t$2\n\t$.success(true);\n});'
     'schema.addHook()':
        'prefix': 'addHook'
        'body': 'schema.addHook(\'${1:name}\', function($) {\n\t$2\n\t$.success(true);\n});'
     'schema.setSave()':
        'prefix': 'setSave'
        'body': 'schema.setSave(function($) {\n\t$1\n\t$.success(true);\n});'
     'schema.setQuery()':
        'prefix': 'setQuery'
        'body': 'schema.setQuery(function($) {\n\t$1\n\t$.callback([]);\n});'
     'schema.setGet()':
        'prefix': 'setGet'
        'body': 'schema.setGet(function($) {\n\t$1\n\t$.callback();\n});'
     'schema.setRemove()':
        'prefix': 'setRemove'
        'body': 'schema.setRemove(function($) {\n\t$1\n\t$.success(true);\n});'
     'schema.setInsert()':
        'prefix': 'setInsert'
        'body': 'schema.setInsert(function($) {\n\t$1\n\t$.success(true);\n});'
     'schema.setUpdate()':
        'prefix': 'setUpdate'
        'body': 'schema.setUpdate(function($) {\n\t$1\n\t$.success(true);\n});'
     'schema.define()':
        'prefix': 'define'
        'body': 'schema.define(\'$1\', $2);'
    'jComponent':
        'prefix': 'COMPONENT'
        'body': 'COMPONENT(\'$2\', \'$2\', function(self, config) {\n\tvar self = this;\n\n\t;self.readonly();\n});'
    'Controller':
        'prefix': 'expo'
        'body': 'exports.install = function() {\n$1\n};'
    'New schema':
        'prefix': 'NEWSCHEMA'
        'body': 'NEWSCHEMA(\'$1\').make(function(builder) {\n$2\n});'

'.source.html':
    'jComponent':
        'prefix': 'jc'
        'body': 'data-jc="$1__$2__$3__$4"'
